// navbar bg-color change for index
.navigation__index-light {
    background-color: $color-light ! important;
}

.navbar-toggler__index-black {
    svg {
        fill: $black !important;
        transition: opacity .3s;
    }

    &:hover svg {
        opacity: .7;
    }
}

.navbar-collapse__index-light {
    background-color: lighten($color-light, 1) !important;
}


// body bg-color change for index
.body__index-light {
    background-color: $color-light !important;  
    color: $black;
}
.client__section-dark{
    background-color: $color-dark;
}
 .input__bottom-border{
    display: inline-block;
    width: 60% !important;
    border: none !important;
    border-bottom: 1px solid $white !important;
    background-color: $color-dark !important;
    @include mobile{
        width: 100% !important;
    }
}
.btn__customize-height{
    height: 45px !important;
}