
// Colors
$color-primary: #01CFC9;
$color-light: #F0F3F7;
$color-dark: #00122C;
$color-muted: #C4C4C4;
$black: #000;
$white: #fff;
$light-red: #EF523C;

// Fonts
$font-primary: CentraNo2;
$font-Secondary: Clearface-Regular;

// Typography
$h1: 58.45px;
$h1-md: 51.96px;
$h2: 46.18px;
$h2-md: 41.05px;
$h3: 36.49px;
$h3-md: 32.44px;
$h4: 28.83px;
$h5: 25.63px;
$h6: 22.78px;
$h7: 20.25px;
$h7-md:18px;
$body-text-size : 16px;
$footer-text: 14.22px;